<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/form" method="post">
        <input type="email" name="email" id="email" placeholder="email" required><br>
        <input type="text" name="nome" id="nome" placeholder="nome" required><br>
        <input type="number" name="pontos" id="pontos" placeholder="pontos" required><br>
        <button type="button" onclick="validarCampos_formulario()" id="btnSubmit"> Enviar</button>

    </form>
    
    
</body>
<script>
    function validarCampos_formulario(){
        var email = document.getElementById('email').value
        var nome = document.getElementById('nome').value
        var pontos = document.getElementById('pontos').value

        if(email == "" || nome == "" || pontos == ""){
            alert(' Preencha todos os campos!')
        }else{
           var btn= document.getElementById('btnSubmit');  
           btn.submit()          
        }
    }
</script>
</html>